<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerUrl" value="https://api.vk.com" />
    <add key="ServerResource" value="method/" />
    <add key="APIVersion" value="5.92" />
    <add key="PathToData" value="Tests\" />
    <add key="ClientID" value="6858397" />
    <!-- should be encrypted -->
    <add key="ClientSecret" value="UFHFCaQXAT8SjfhkWgZB" />
  </appSettings>
</configuration>